MGRR/research/root/bin/*
MGRR/research/root/dump/*
MGRR/research/root/output/*
MGRR/research/root/temp_rebuild/*
MGRR/research/root/working/*
MGRR/research/root/*test*/*
MGRR/research/root/*.bms
MGRR/research/root/*.cpk
MGRR/research/root/*.dds
MGRR/research/root/*.exe
MGRR/research/root/*.pdn
MGRR/Raws/PS3/core_000_console maybe.pdn
MGRR/Raws/PS3/core_000.png
MGRR/Raws/PS3/core_002.pdn
